<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--      th:with="lang=${#locale.language}" th:lang="${lang}">-->
<head th:fragment="htmlhead">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ITM CRUD</title>

    <link th:href="@{/css/styles.css}" rel="stylesheet">

    <link rel="shortcut icon" th:href="@{/img/ITM.svg}" type="image/x-icon"/>

</head>

<body>

<nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="https://it-mentor.tech/" target="_blank" rel="noopener noreferrer"
           data-toggle="tooltip" data-placement="bottom" title="Перейти на сайт ITM Space">
            <img src="/img/ITM.svg" alt="ITM" height="50">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}" data-toggle="tooltip" data-placement="bottom" title="На главную">
                        <div class="d-flex flex-column align-items-center">
                            <img src="/img/home.png" alt="Home" height="50">
                            <span class="mt-2">На главную</span>
                        </div>
                    </a>


                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="${(#mvc.url('UC#addUserForm')).build()}" data-toggle="tooltip"
                       data-placement="bottom" title="Добавить пользователя">
                        <div class="d-flex flex-column align-items-center">
                            <img src="/img/new_user.png" alt="New User" height="50">
                            <span class="mt-2">Новый</span><br>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${#httpServletRequest.requestURI.contains('users')} ? 'active'"
                       th:href="${(#mvc.url('UC#showAllUsers')).build()}" data-toggle="tooltip" data-placement="bottom"
                       title="Список пользователей">
                        <div class="d-flex flex-column align-items-center">
                            <img src="/img/list_users.png" alt="List User" height="50">
                            <span class="mt-2">Список</span><br>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Include Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/js/bootstrap.min.js"></script>

<!-- Enable Bootstrap tooltips -->
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

<!-- Rest of the code -->

</body>
</html>
